* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: Montserrat;
	color: white;
}

body {
	background: url('../../assets/images/background.png') no-repeat top center;
	background-size: cover;
	height: 100vh;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 550px;
	background-color: #03131b;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
}

.input {
	display: flex;
	flex-direction: column;
	margin-right: 4%;
	margin: 10px 0;
	background: transparent;
	border: 0px;
	border-bottom: 2px solid grey;
	padding: 12px 20px;
	color: white;
	width: 100%;
	font-size: medium;
}

.submit {
	text-align: center;
	padding: 5px;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);	
	cursor: pointer;
	text-transform: uppercase;
	width: 100px;
	align-self: center;

}

a{
	align-self: center;
}

.submit:hover{
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}

select {
	width: 80%;
	align-self: center;
}