<div class="container">
	<div class="container1">
		<img src="../../assets/images/contact.png" class="contact-png" alt="contact">
		
		<div class="address">
		
			<h3>Entrer en contact</h3>
				<div style="font-size: small;">						
				+1(514)-123-4567  exemple@exemple.com
				<br><br>
				<address>7503 Rue St Denis Montreal QC H2R 2E7(Montreal ,Quebec)</address>
			</div>
		</div>		
	</div>
	<br><br><br>

	<div class="container2">
		<img src="../../assets/images/gerant.png" class = "gerant-png" alt = "gerant">
		<div class="info" style="color: white;">
			
			<div class="info2">
				
				<h3>Nom Prénom</h3>
				<span>Gérant</span><br>
				<address>Lorem@Ipsum.com</address>				
			</div>

			<hr>

			<p>
				Der er mange tilgængelige udgaver af Lorem Ipsum, men de
				fleste udgaver har gennemgået forandringer, når nogen har tilføjet
				humor eller tilfældige ord, som på ingen måde ser ægte ud. Hvis du
				skal bruge en udgave af Lorem Ipsum, skal du sikre dig, at der ikke
				indgår noget pinligt midt i teksten.
			</p>
		</div>
	</div>
</div>
