@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.acceuil_header {
	background: #03131b;
}

.acceuil_header::after {
	content: '';
	display: table;
	clear: both;
}

.logo {
	float: left;
	padding: 10px 0;
	margin-left: 15px;
	width: 150px
}

.menu {
	float: right;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu li {
	display: inline-block;
	margin-top: 22px;
	margin-right: 60px;
}

.menu a {
	color: #cccccc;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	position: relative;
}

.menu a:hover {
	color: #f7f7f7;
}

.menu a::before {
	content: '';
	display: block;
	height: 2px;
	background-color: #c3c789;
	top: 5px;
	width: 0%
}

.menu a:hover::before {
	width: 100%
}